
.navbar {
    overflow: hidden;
    background-color: #222629;
    backface-visibility: 50%;
    font-family: Arial;
    
  }
  
 
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  
  }
  
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; 
    margin: 0; 
  }
  
 
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #61892f;
  }
  
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
 
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  

  .dropdown-content a:hover {
    background-color: #86c232;
  }
  

  .dropdown:hover .dropdown-content {
    display: block;
  }
  .title1{
    color: #61892f;
    text-decoration: underline;
    text-transform: uppercase;
    text-shadow: 3px 2px #474b4f; 
     text-indent: 100px;  
    
 

  }
  .def1{color: #6b6e70;padding-right: 30px;
    padding-left: 10px;
    padding-bottom: 10px;
     }
  .def{color: #6b6e70;
    text-indent: 50px;  
  padding-bottom: 10px;
    padding-left: 70px;
    padding-right: 50px;
  }
  p.small {
    line-height: 0;
  }
  .small1{
    line-height: 0.6;
  }
  .tab {
    overflow: hidden;
    border: 1px solid #86c232;
    background-color: #61892f;
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }
  
  
  .tab button:hover {
    background-color: #86c232;
  }
  
   
  .tab button.active {
    background-color: #86c232;
  }
  
 
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #86c232;
    border-top: none;}
  
  .imagine {
    
    -webkit-filter: invert(100%); /* Safari/Chrome */
    filter: invert(100%);
    }
